// BASE STYLES
@import "./base/import";

/* FONT */
@import url(https://fonts.googleapis.com/css?family=Raleway:500,700);

// BLOCKS
@import "./blocks/import";

*{
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  outline: 0;
}

$transitionAll300ease: all 0.3s ease;

.wrapper{
  color: red;
}

.edit_options{

  li{
    display: inline-block;
    height: 100%;
    margin: 0 1em;
    padding: 1.5em 1em 1em 1em;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    letter-spacing: 0.5em;
    font-size: 1em;
    color: rgb(194, 194, 194);
    cursor: pointer;
    transition: $transitionAll300ease;

    &:hover, :active{
      border-bottom: 0.3em solid tomato;
      color: tomato;
    }

    &.selected{
      border-top: 0.3em solid tomato;
      // color: #607D8B;
      color: tomato;
      // font-weight: bold;
    }
  }
}

.exec_btn{

  background: tomato;
}

.main_container{
  background: lightgray;
}

.result_area{
  float: left;
  width: 100%;
  height: 20em;
  padding-top: 3em;
   
   .area_label{
    position: absolute;
    display: inline-block;
    top: 80px;
    left: 5px;
    padding: 0.3em;
    border-radius: 0.3em;
    border: 1px solid tomato;
    color: tomato;
   }
}

.edit_area{
  display: none;
  position: relative;
  overflow:scroll;
  float: left;
  height: 57%;
  width: 33.3%;
  border-right: 1px solid lightgray;
  font-size: 0.9em;

  .area_label{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 5px;
    padding: 0.3em;
    border-radius: 0.3em;
    border: 1px solid tomato;
    color: tomato;
  }

  .textarea{
    width: 100%;
    height: 100%;
    resize: none;
    padding-top: 4em;
    padding-left: 1em;

    &:focus{
      border: none;
      outline: 0;
      background:rgb(248, 248, 248);
    }
  }
}


.active_area{
  display: block;
}
//
//
.html_area{
  
  .textarea{
    color: rgb(0, 188, 212);

   } 
}

.css_area{
  
  .textarea{
    color: rgb(96, 125, 139);
  }
} 
.js_area{
  
  .textarea{
    color: rgb(139, 195, 74);
  }
} 

